---
import SocialFooter from "./SocialFooter.astro";
---

<footer class="px-6">
  <div
    class="mx-auto flex max-w-[39rem] items-center justify-between border border-y-0 border-neutral-200 px-[10px] pb-5 pt-4 dark:border-neutral-700 md:py-8"
  >
    <p
      class="text-base font-normal leading-snug tracking-tighter text-neutral-600 dark:text-neutral-400"
    >
      Made with ❤️ and ☕️
    </p>

    <SocialFooter />
  </div>
</footer>
