<button
  id="hamburger-button"
  class="grid size-10 place-items-center rounded-lg border-transparent focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-800 md:hidden"
  aria-label="Toggle mobile menu"
>
  <!-- Open Icon -->
  <svg
    id="open-icon"
    class="block"
    width="18"
    height="12"
    viewBox="0 0 18 12"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="stroke-neutral-900 dark:stroke-neutral-0"
      d="M1.5 6H16.5M1.5 1H16.5M1.5 11H16.5"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>

  <!-- Close Icon -->
  <svg
    id="close-icon"
    class="hidden"
    width="12"
    height="12"
    viewBox="0 0 12 12"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="stroke-neutral-0 dark:stroke-neutral-900"
      d="M11 1L1 11M1 1L11 11"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</button>

<script>
  const hamburgerButton = document.getElementById("hamburger-button");
  const openIcon = document.getElementById("open-icon");
  const closeIcon = document.getElementById("close-icon");

  if (hamburgerButton) {
    hamburgerButton.addEventListener("click", toggleMenu);
  }

  function toggleMenu() {
    const menu = document.getElementById("mobile-menu");

    if (menu) {
      menu.classList.toggle("hidden");
    }

    if (openIcon) {
      openIcon.classList.toggle("hidden");
    }
    if (closeIcon) {
      closeIcon.classList.toggle("hidden");
    }

    if (closeIcon && !closeIcon.classList.contains("hidden")) {
      if (hamburgerButton) {
        hamburgerButton.classList.add("bg-neutral-900", "dark:bg-neutral-200");
      }
    } else {
      if (hamburgerButton) {
        hamburgerButton.classList.remove(
          "bg-neutral-900",
          "dark:bg-neutral-200",
        );
      }
    }
  }
</script>
