---
import Social from "./Social.astro";
---

<section class="space-y-6 pb-8 md:pb-12">
  <h1
    class="relative z-10 w-fit text-preset2 font-extrabold leading-snug tracking-tighter text-neutral-700 after:absolute after:bottom-[4px] after:left-0 after:-z-10 after:h-2 after:w-full after:bg-blue-700 dark:text-neutral-0"
  >
    Hi, I’m Paulina 👋
  </h1>

  <p
    class="text-lg font-normal leading-normal tracking-tighter text-neutral-600 dark:text-neutral-400"
  >
    I’m on a journey to become a front-end web developer. I love building little
    projects, trying out new coding techniques, and sharing what I learn along
    the way. When I’m not at my desk, you’ll find me reading, hiking through the
    mountains, or challenging myself on rock-climbing walls.
  </p>

  <p
    class="text-lg font-normal leading-normal tracking-tighter text-neutral-600 dark:text-neutral-400"
  >
    I started this blog to document my progress, keep myself accountable, and
    hopefully inspire anyone else who’s learning to code. Welcome to my corner
    of the internet, and thanks for stopping by!
  </p>

  <Social />
</section>
