<a
  class="rounded-lg focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-800"
  href="/"
>
  <img
    class="size-10 rounded-lg"
    src="/images/image-avatar.jpg"
    alt="Pauline's avatar"
  />
</a>
